
.carousel {
  height: 900px;
}

.carousel-item .carousel img {
  width: 100%;
}

.row {
  margin: 0;
}

h1 {
  color: white;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0;
  background-color: rgb(212, 120, 50);
}

.container {
  background-color: rgb(29, 117, 163);
}

.background {
  background-color: rgb(182, 201, 13);
}

.collapsible-header {
  background-color: rgb(212, 120, 50);
}

.collapsible {
  margin: 0;
}

.active {
  background-color: rgb(29, 117, 163);
}

p {
  font-size: 30px;
}

li {
  font-size: 30px;
}